# ignore temp files
\#*\#
*~

# recent files
recentf

# requests
request/
# flymake-mode
*_flymake.*

# eshell files
eshell/

# magit stores some stuff in transient
transient/
# elpa packages
elpa/

# reftex files
*.rel

# AUCTeX auto folder
auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# desktop saves
.emacs.desktop.lock
.emacs.desktop

# autocomplate history
ac-comphist.dat

# bookmarks
bookmarks

#ido history
ido.last
#tramp connection history
tramp

#mulitple-cursors generated preferences
.mc-lists.el

# created by gnus
network-security.data

#projectile files
projectile-bookmarks.eld
projectile.cache

.python-environments/

#cookies from Emacs-W3
url/cookies

# org generates .org-id-locations,
# skip whatever else it might generate
.org*
