[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "plugins/autopair"]
	path = plugins/autopair
	url = git@github.com:joaotavora/autopair.git
[submodule "plugins/fci"]
	path = plugins/fci
	url = git@github.com:alpaker/Fill-Column-Indicator.git
[submodule "plugins/window-number"]
	path = plugins/window-number
	url = git@github.com:nikolas/window-number.git
[submodule "plugins/dockerfile-mode"]
	path = plugins/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode
[submodule "plugins/markdown-mode"]
	path = plugins/markdown-mode
	url = git@github.com:defunkt/markdown-mode
[submodule "plugins/s.el"]
	path = plugins/s.el
	url = git@github.com:magnars/s.el.git
[submodule "plugins/dash.el"]
	path = plugins/dash.el
	url = git@github.com:magnars/dash.el.git
[submodule "plugins/dash"]
	path = plugins/dash
	url = git@github.com:magnars/dash.el.git
[submodule "plugins/s"]
	path = plugins/s
	url = git@github.com:magnars/s.el.git
[submodule "plugins/virtualenvwrapper"]
	path = plugins/virtualenvwrapper
	url = git@github.com:porterjamesj/virtualenvwrapper.el.git
[submodule "install/pymacs-rope/Pymacs"]
	path = install/pymacs-rope/Pymacs
	url = git@github.com:dgentry/Pymacs.git
[submodule "plugins/pymacs"]
	path = plugins/pymacs
	url = git@github.com:pinard/Pymacs.git
[submodule "plugins/expand-region"]
	path = plugins/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "plugins/js2-mode"]
	path = plugins/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "plugins/python-mode.el"]
	path = plugins/python-mode.el
	url = https://gitlab.com/python-mode-devs/python-mode.git
[submodule "plugins/org-beautify-theme"]
	path = plugins/org-beautify-theme
	url = git@github.com:jonnay/org-beautify-theme.git
[submodule "plugins/zenburn-emacs"]
	path = plugins/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "plugins/multiple-cursors.el"]
	path = plugins/multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "plugins/labburn-theme"]
	path = plugins/labburn-theme
	url = git@github.com:ksjogo/labburn-theme.git
