[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "plugins/autopair"]
	path = plugins/autopair
	url = git@github.com:joaotavora/autopair.git
[submodule "plugins/fci"]
	path = plugins/fci
	url = git@github.com:alpaker/Fill-Column-Indicator.git
[submodule "plugins/window-number"]
	path = plugins/window-number
	url = git@github.com:nikolas/window-number.git
[submodule "plugins/dockerfile-mode"]
	path = plugins/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode
